Synergies([
	Synergy(
		above: [],
		building: AlchemyLab,
		below: [IsType(LiquidTank), ContainsFluid(AlchemyJuice)]
	),
	Synergy(
		above: [],
		building: Cannon,
		below: [IsType(Factory)]
	),
	Synergy(
		above: [],
		building: Farm,
		below: [IsType(LiquidTank), ContainsFluid(Water)]
	),
	Synergy(
		above: [],
		building: Sawmill,
		below: [IsType(LiquidTank), ContainsFluid(Water)]
	),
	Synergy(
		above: [],
		building: Factory,
		below: [IsType(Sawmill)]
	)
])
